{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livraria AllBooks</title>
    <!-- bootstrap e owl carousel -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- Links css -->
    <link rel="stylesheet" href="{% static 'css/home_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header class="p-3 bg-dark text-white">
        <div>
            <div class="d-flex flex-wrap align-items-center header-menu">
                <div class="stick-esq">
                    <a href="/"><img src="{% static 'imagens/allbookslogo.svg' %}" alt="logo" class="logo" width="150px"></a>
                </div>
            </div>
        </div>
    </header>
    {% block content %}
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card  auth-card">
                <div class="card-body">
                    <h4 class="card-title text-center">Entrar como Administrador</h4>
            
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}">
            
                        {{ form|crispy }}

                        <button type="submit" class="btn btn-primary btn-block" href="livro-list">Entrar</button>
                    </form>

                    <p class="change-form-p">Quer criar uma conta? <a href="/accounts/register">Clique aqui!</a></p>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
</body>

</html>

