{% extends 'base.html' %}
{% load static %}

{% block content %}
  <header class="p-3 bg-dark text-white">
    <div>
      <div class="d-flex flex-wrap align-items-center header-menu">
        <div class="stick-esq">
          <a href="/"><img src="{% static 'imagens/allbookslogo.svg' %}" alt="logo" class="logo" width="150px"></a>

          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
            <li><a href="livro/all" class="nav-link px-2 text-white">Todos os produtos</a></li>
            {% if user.is_authenticated %}
            <li><a href="livro-list" class="nav-link px-2 text-white">Área do ADM</a></li>
            {% else %}
            <li><a href="/accounts/login" class="nav-link px-2 text-white">Área do ADM</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </header>
  <div class="logo-principal">
    <img src="{% static 'imagens/allbookslogo-principal.svg' %}" alt="logo" width="300px">
  </div>

  <section id="populares">
    <h3>Mais populares</h3>
    <div class="livros-container">
      <!-- <div class="owl-carousel owl-theme"> -->
      <div class="livro-div">
        <div class="lista-horizontal">
          <ul>
            {% for livro in livros_principais %}
            {% if livro.quantidade_em_estoque != 0 %}
            <li>
              <a href="/livro/{{livro.id}}">
                <div class="livro">
                  <p></p>
                </div>
              </a>
              <span><a href="/livro/{{livro.id}}">
                  <h4>{{ livro.titulo }}</h4>
                </a></span>
              <p>R${{ livro.valor }}</p>
              <a href="{% url 'comprar_livros' livro.id %}">
                <button type="submit" class="btn btn-success">COMPRAR</button>
              </a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </section>

  <section id="novidades">
    <h3>Novidades de julho</h3>
    <div class="livros-container">
      <!-- <div class="owl-carousel owl-theme"> -->
      <div class="livro-div">
        <div class="lista-horizontal">
          <ul>
            {% for livro in livros_principais %}
            {% if livro.quantidade_em_estoque != 0 %}
            <li>
              <a href="/livro/{{livro.id}}">
                <div class="livro">
                  {{ livro.imagem }}
                </div>
              </a>
              <span><a href="/livro/{{livro.id}}">
                  <h4>{{ livro.titulo }}</h4>
                </a></span>
              <p>R${{ livro.valor }}</p>
              <a href="{% url 'comprar_livros' livro.id %}">
                <button type="submit" class="btn btn-success">COMPRAR</button>
              </a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- Botão carrinho de compras -->
  <div>
    <a href="/checkout" class="bi-cart-fill img-circle btn-primary btn-icon"></a>
  </div>
{% endblock %}