{% extends 'base.html' %}
{% load static %}

{% block content %}
  <header class="p-3 bg-dark text-white">
      <div>
          <div class="d-flex flex-wrap align-items-center header-menu">
              <div class="stick-esq">
                  <a href="/"><img src="{% static 'imagens/allbookslogo.svg' %}" alt="logo" class="logo" width="150px"></a>
  
                  <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                      <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
                      <li><a href="/livro/all" class="nav-link px-2 text-secondary">Todos os produtos</a></li>
                      {% if user.is_authenticated %}
                      <li><a href="/livro-list" class="nav-link px-2 text-white">Área do ADM</a></li>
                      {% else %}
                      <li><a href="/accounts/login" class="nav-link px-2 text-white">Área do ADM</a></li>
                      {% endif %}
                  </ul>
              </div>
          </div>
      </div>
  </header>
  <div class="livros-container">
    <!-- <div class="owl-carousel owl-theme"> -->
      <ul class="list-group mb-3">
          {% for livro in livros %}
          {% if livro.quantidade_em_estoque != 0 %}
          <li class="list-group-item py-3">
            <div class="row g-3">
              <div class="col-4 col-md-3 col-lg-2">
                <a href="/livro/{{livro.id}}">
                  <div class="livro-carrinho">
                    <p></p>
                  </div>
                </a>
              </div>
              <div class="col-8 col-md-9 col-lg-7 col-xl-8 text-left aling-self-center">
              <a href="/livro/{{livro.id}}">
                <h4 class="titulo-livro-carrinho">{{ livro.titulo }}</h4>
              </a>
              <p class="descricao-livro-carrinho">{{ livro.descricao }}</p>
              </div>
              <div class="text-right mt-2">
                  <span class="text-dark">Valor: <span>R$ {{ livro.valor }}</span> </span>
              </div>
              <div class="text-left col-md-1">
                <a href="{% url 'comprar_livros' livro.id %}">
                  <button type="submit" class="btn btn-success">COMPRAR</button>
                </a>
              </div>
              
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
    </section>
  <!-- Botão carrinho de compras -->
  <div>
      <a href="/checkout" class="bi-cart-fill img-circle btn-primary btn-icon"></a>
  </div>
{% endblock %}