{% extends 'base-adm.html' %}

{% block content %}
<div class="offset-1 col-10 list-div">
    <h1>Lista de Editoras</h1>
    <a id="add-link" href="editora-new">
        <div class="col-2 add-div">
            <i class="fas fa-plus"></i> Adicionar editora
        </div>
    </a>
    <div class="search-adm">
        <form method="GET" id="search-form">
            <input class="form-control" type="text" id="search" name="search" placeholder="Digite o nome da editora para buscar..." value="{{ request.GET.search }}">
            <i class="fas fa-search" id="search-btn"></i>
        </form>
    </div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <ul class="item-list">
        {% for editora in editoras %}
            <li class="each-item done">
                <span><a href="editora-detail/{{editora.id}}">{{ editora.nome }}</a></span>
                <a href="editora-delete/{{editora.id}}" class="delete-btn"><span><i class="fas fa-trash"></i></span></a>
                <a href="editora-update/{{editora.id}}"><span><i class="fas fa-edit"></i></span></a>
            </li>
        {% endfor %}
    </ul>
    <div class="pagination">
        <span class="step-links">
            {% if editoras.has_previous %}
                <a href="?page={{ editoras.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
            {% endif %}
            
            {% if editoras.paginator.num_pages %}
            <span class="current">
                {{ editoras.number }} de {{ editoras.paginator.num_pages }}
            </span>
            {% endif %}
        
            {% if editoras.has_next %}
                <a href="?page={{ editoras.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}
